* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gothic A1', sans-serif;
  background-color: #000000;
  color: #c992e0;
}

header {
  background-color: #1c0a29;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  color: #762d7e;
  font-size: 2rem;
}

.logo span {
  color: #fff;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #762d7e;
}

.right-nav {
  display: flex;
  align-items: center;
  position: relative;
}


.icon-link {
  color: #fff;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

.icon-link:hover {
  color: #762d7e;
}
.search-btn {
  background-color: transparent;
}

.search-input {
  outline: none;
  box-sizing: border-box;
  height: 60px;
  width: 0px;
  padding: 0 20px;
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  border: 1px solid #762d7e;
  transition: all .7s ease;
  background-color: transparent;
  margin-right: 10px;
}

.search-btn {
  border: none;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  transition: .5s;
}

.search-btn i {
  font-size: 25px;
  color: white;
  line-height: 60px;
}

.search-btn:hover {
  background-color: #280d36;
}

.right-nav:hover .search-input {
  width: 250px;
}

.right-nav:hover .search-btn i {
  transform: rotate(-360deg);
}

#icon-cart i {
  font-size: 1.5rem;
  display: block;
}

#count {
  background-color: #762d7e;
  color: #fff;
  border-radius: 50%;
  padding: 0.2em 0.4em;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.75rem;
  min-width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}



@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta el menú en dispositivos móviles */
    flex-direction: column; /* Muestra los enlaces en una columna */
    background-color: #1c0a29; /* Color de fondo para el menú */
    position: absolute;
    top: 70px; /* Ajusta la posición vertical */
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 10;
  }
  .nav-links a {
    padding: 1rem 0; /* Ajusta el espaciado entre enlaces */
    text-align: center; /* Centra el texto */
  }
  .nav-links.active {
    display: flex; /* Muestra el menú cuando se activa */
  }
}


.tarjetas-inicio{
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan según el espacio disponible */
  justify-content: space-between;
  padding: 20px 100px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  width: 300px; /* Tamaño fijo para desktop */
  height: 400px;
  margin: 10px;
  border: 2px solid #762d7e;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s; /* Suaviza la transición */
  position: relative; /* Necesario para la animación */
}

.titulo{
  font-size: 30px;

  padding-bottom: 60px;
}

.contenido {
  padding: 10px;
}

.contenido h2 {
  margin-top: 0;
}

.contenido p {
  margin: 0;
}

/* Animación */

.tarjeta {
  position: relative;
  transition: transform 0.5s, box-shadow 0.5s, background-color 0.5s;
}

.tarjeta::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
}

.tarjeta:hover::before {
  opacity: 1;
}

.tarjeta:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.8);
}


@media (max-width: 768px) {
  .tarjetas-inicio {
    padding: 20px; /* Reduce el padding en pantallas más pequeñas */
  }

  .tarjeta {
    width: 45%; /* Ajusta las tarjetas para que se muestren en 2 columnas */
    margin-top: 20px; /* Reduce el margen superior */
  }
}

/* Pantallas de teléfonos móviles */
@media (max-width: 480px) {
  .tarjetas-inicio {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: center; /* Centra las tarjetas */
  }

  .tarjeta {
    width: 80%; /* Aumenta el ancho de las tarjetas para mejor visibilidad */
    margin-top: 20px;
  }

  .titulo {
    font-size: 24px; /* Reduce el tamaño del texto para pantallas pequeñas */
  }
}


.container {
  display: flex; /* Usa flexbox para un mejor control del layout */
  justify-content: space-between; /* Separa los elementos hijos */
  padding: 20px; /* Agrega algo de espacio alrededor */
  max-width: 1200px; /* Establece un ancho máximo para el contenedor */
  margin: auto; /* Centra el contenedor */
}

#root {
  display: flex; /* Cambia a flex para alinear elementos horizontalmente */
  flex-direction: row; /* Alinea los elementos de forma horizontal */
  justify-content: space-around; /* Espacia los elementos uniformemente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola línea */
  gap: 20px; /* Espacio entre productos */
}

.sidebar {
  width: 25%; /* Ajusta según necesites */
  padding: 20px; /* Espacio interior */
  margin-left: 20px; /* Espacio desde el contenedor de productos */
  background-color: #200f33; /* Un tono más neutro para el sidebar */
  color: #fff; /* Texto claro */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Sombra más marcada para efecto de profundidad */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Cambia el ancho al 100% en pantallas más pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo en pantallas más pequeñas */
  }
}


.foot {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #280d36; /* Borde superior en un tono de púrpura oscuro */
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #762d7e; /* Borde en un tono de púrpura medio */
}

.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

h2 {
  font-size: 20px;
  color: #c992e0; /* Título en un tono de púrpura claro */
}

button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #762d7e; /* Botón en un tono de púrpura medio */
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #280d36; /* Color de fondo del botón al pasar el ratón */
}

.row-img {
  width: 80px; /* Asegura que el contenedor ocupe el ancho disponible */
  display: flex; /* Usa flexbox para alinear elementos internos */
  justify-content: center; /* Centra horizontalmente la imagen dentro del contenedor */
  overflow: hidden; /* Oculta cualquier parte de la imagen que desborde el contenedor */
}

.rowimg {
  max-width: 100%; /* Limita el ancho de la imagen al 100% de su contenedor */
  height: auto; /* Ajusta la altura automáticamente para mantener las proporciones */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin cortarse */
}

/* Estilos para la caja de texto del código promocional */
.promotional-code {
  margin-top: 20px; /* Espacio superior */
  display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
  align-items: center; /* Alinear verticalmente los elementos */
}

.promotional-code input[type="text"] {
  width: 200px; /* Ancho del campo de texto */
  padding: 8px; /* Espaciado interno */
  margin-right: 10px; /* Espacio a la derecha */
  border: 1px solid #762d7e; /* Borde del campo de texto */
  border-radius: 5px; /* Borde redondeado */
}

.promotional-code button {
  background-color: #762d7e; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor apuntador */
  transition: background-color 0.3s; /* Transición de color de fondo */
}

.promotional-code button:hover {
  background-color: #280d36; /* Color de fondo al pasar el ratón */
}

/* Estilo para el botón de pagar */
.btn-pagar {
  background-color: #762d7e; /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Padding */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cursor apuntador */
  transition: background-color 0.3s; /* Transición de color de fondo */
  margin-top: 10px;
}

/* Efecto hover */
.btn-pagar:hover {
  background-color: #280d36; /* Color de fondo al pasar el ratón */
}


/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .foot {
    flex-direction: column; /* Cambia la dirección del flexbox a columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto */
  }

  .box {
    width: 100%; /* Ajusta el ancho al 100% en pantallas pequeñas */
    margin-bottom: 20px; /* Añade espacio inferior entre las cajas */
  }

  .promotional-code {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: center; /* Centra los elementos */
  }

  .promotional-code input[type="text"] {
    width: 100%; /* Ancho del campo de texto al 100% */
    margin-right: 0; /* Elimina el margen derecho */
    margin-bottom: 10px; /* Añade espacio inferior */
  }

  .bottom {
    height: auto; /* Altura automática */
  }

  .btn-pagar {
    width: 100%; /* Ancho al 100% */
  }
}




.footer {
  background-color: #2c2c2c; /* Color de fondo oscuro para el footer */
  color: #fff; /* Texto en blanco para contraste */
  padding: 20px 100px; /* Espaciado interno */
  display: flex;
  justify-content: space-between; /* Espacia los elementos igualmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
}

.footer div {
  margin: 10px; /* Margen alrededor de cada sección para espaciado */
}

.footer__contact, .footer__redes-sociales, .footer__terminos, .footer__whatsapp {
  flex: 1; /* Hace que cada sección tome el mismo espacio */
  min-width: 150px; /* Establece un ancho mínimo para cada sección */
}

.footer h3 {
  margin-top: 0;
}

.footer a {
  color: #fff; /* Mantiene los enlaces en blanco para contrastar con el fondo */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.footer ul {
  list-style-type: none; /* Elimina los marcadores de lista */
  padding: 0; /* Elimina el padding predeterminado */
}

.footer ul li a:hover {
  text-decoration: underline; /* Añade un subrayado al pasar el ratón sobre los enlaces para mejorar la accesibilidad */
}

.footer__whatsapp i {
  font-size: 24px; /* Aumenta el tamaño del ícono de WhatsApp */
}

/* Media Queries */

@media (max-width: 768px) {
  .footer {
    padding: 20px; /* Reduce el padding en pantallas más pequeñas */
  }
  
  .footer__contact, .footer__redes-sociales, .footer__terminos, .footer__whatsapp {
    flex-basis: 50%; /* Hace que las secciones ocupen el 50% del ancho del footer */
    text-align: center; /* Centra el texto para una mejor apariencia en dispositivos móviles */
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column; /* Cambia la disposición a columna en pantallas muy pequeñas */
  }
  
  .footer__contact, .footer__redes-sociales, .footer__terminos, .footer__whatsapp {
    flex-basis: 100%; /* Hace que cada sección ocupe el ancho completo */
    margin: 10px 0; /* Ajusta los márgenes para un mejor espaciado vertical */
  }
}
.boton-accesibilidad {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  border: none; /* Eliminamos el borde del botón */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Agregamos una sombra */
  display: flex; /* Para centrar verticalmente el ícono */
  justify-content: center; /* Para centrar verticalmente el ícono */
  align-items: center; /* Para centrar verticalmente el ícono */
}

.boton-accesibilidad:hover {
  background-color: #ffffff;
  color: #000000;
}

.menu-accesibilidad {
  position: fixed;
  bottom: 80px; /* Ajustamos la posición del menú para evitar solapamiento con el botón */
  right: 20px;
  z-index: 998; /* Asegurando que esté por debajo del botón de accesibilidad */
  width: 200px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  display: none; /* Por defecto, el menú está oculto */
}

.menu-accesibilidad a {
  text-decoration: none;
  color: #000000;
}

.menu-accesibilidad a:hover {
  color: #ffffff;
}



